# Ignore the virtual environment folder
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore ChromeDriver binaries and logs
chromedriver/

# Ignore log files
*.log

# Ignore any IDE specific files (e.g., VSCode or PyCharm)
.vscode/
.idea/

# Ignore any temporary files
*.swp
*.swo
